* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

body {
    background: url(./img/background.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-style {
    width: 350px;
    padding: 4px 16px;
    font-size: .8rem;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(16px);
    color: white;
    border: none;
    border: 1px rgba(255,255,255,.5) solid;
    border-radius: 16px;
} 

.form-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0px;
    padding: 0px 32px;
}
#contenedorPrincipal {
    width: 50%;
    height: auto;
    margin: 128px auto;
    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0,0,0,.4);
    border-radius: 16px;
    color: white;
    box-shadow: 0px 0px 16px 16px rgba(0,0,0,.2);

    transition: all .5s ease;
}

#recordar {
    transform: scale(2);
}

.logo {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-opt {
    color: rgb(187, 187, 187);
    font-size: .8rem;
}

header {
    background: transparent;
    color: white;
    padding: 16px 32px;

    position: relative;
    top: 25;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-top: 1px rgba(255,255,255,.5) solid;
    border-bottom: 1px rgba(255,255,255,.5) solid;
}

header nav ul {
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bold;

    transition: all .5s ease;
    border-radius: 8px;
    padding: 5px 10px;
}
li a:hover{
    background-color: white;
    color: black;
}

#info {
    padding: 16px 8px 0px 8px;
    text-align: center;
    font-size: 1rem;
    color: rgb(131, 212, 131);
    font-style: italic;
}
.warn{
    color:rgb(217, 217, 217);
    font-size: 0.8rem;
    background-color: rgba(0,0,0,0.2);
    padding: 4px;
    margin: 4px 0px;
    border-radius: 4px;
}